<!DOCTYPE html>
<html>
<head>
    <title>NodeSense</title>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div id="mynetwork"></div>
    <div id="input-container">
        <div class="webflow-style-input">
            <textarea id="input-text" placeholder="Escribe tu texto aquí..."></textarea>
            <button onclick="analyzeText()"><i class="icon ion-android-arrow-forward">➤</i></button>
            <button onclick="clearAll()"><i>⟳</i></button>
        </div>
    </div>
    </div>
    <div id="sentiment-panel">
        <div id="sentiment-section">
            <h3>Asignar sentimiento</h3>
            <button onclick="assignSentiment('positive')">Positivo</button>
            <button onclick="assignSentiment('negative')">Negativo</button>
            <button onclick="assignSentiment('neutral')">Neutro</button>
        </div>
        <div id="special-node-section">
            <h3>Nodo especial</h3>
            <button onclick="toggleSpecialNode()">Alternar nodo especial</button>
        </div>
    </div>
    <div id="particles-js"></div>
    <script src="{{ url_for('static', filename='js/particles.js') }}"></script>
</body>
</html>